body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: bisque;
}

.btnEliminar {
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}